* text=auto

*.sh text eol=lf
Dockerfile text eol=lf
*.mjs text eol=lf
*.js text eol=lf
*.json text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.css text eol=lf
*.html text eol=lf

*.ps1 text eol=crlf
*.cmd text eol=crlf
*.iss text eol=crlf

*.dll binary
*.exe binary
*.lib binary
*.pdb binary
*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.zip binary
*.gz binary
*.enc binary
